<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pytorch.demo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SelectCrew"
            android:label="@string/title_activity_select_crew"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".vision.SetFaceLogin"
            android:label="@string/title_activity_set_face_login"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".AddNewCrew"
            android:label="@string/title_activity_add_new_crew"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".SelectVideos"
            android:label="@string/title_activity_select_videos"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".GlassLocalActivity"
            android:label="@string/title_activity_glass_local"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GlassRemoteActivity"
            android:label="@string/title_activity_glass_local"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectFaceDatagram"
            android:label="@string/title_activity_select_face_datagram"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountLoginActivity" />
        <activity
            android:name=".SideBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetupMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <activity android:name=".vision.VisionListActivity" />



        <activity android:name=".vision.GlassListActivity" />

        <activity
            android:name=".vision.ImageClassificationActivity"
            android:label="@string/image_classification_title" />
        <activity
            android:name=".FaceDetectionActivity"
            android:label="@string/face_recognition_title" />
        <activity
            android:name=".RemoteFaceDetectActivity"
            android:label="@string/vision_card_face_recognition_remote_title" />
        <activity android:name=".nlp.TextClassificationActivity" />
        <activity android:name=".MinePageActivity"
            tools:ignore="Instantiatable" />
    </application>

</manifest>